body{
    text-align: center;
    background: linear-gradient(to right,#E133F0,#DB89BA
    );
     font-family: 'Tangerine', serif;
  font-size: 25px;
  color: white;
  
}
img{
    position: relative;
    width: 150px;
    border-radius: 100%;
}

.glow {
  font-size: 65px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
a{
    color: white;
    text-decoration: none;
}


button{
    border-radius:40%;
    font-size: 90px;
}
.border-neon {
    background-color: transparent;
    
    border: 2px solid pink;
    color: white;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h3{
    font-size: 60px;
}
 
.border-neon:hover, .border-neon:focus {
    -webkit-box-shadow: inset 0px 0px 8px 3px #ff94b8;
    box-shadow: 0px 0px 10px 3px #ff94b8, inset 0px 0px 10px 3px #ff94b8;
    border-color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff94b8, 0 0 40px #ff94b8, 0 0 50px #ff94b8, 0 0 60px #ff94b8, 0 0 70px #ff94b8
}


